*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "McKinsey Sans", "Helvetica Neue", Calibri, Corbel, Helvetica, Roboto, Droid, sans-serif;
    width: 100%;
    height: 100vh;
    color: white;
    background-color: black;
}

section.nav-bar nav{
    display: flex;
    justify-content: space-between;
    height: 110px;
}

section.nav-bar nav .right-side{
    display: flex;
    align-items: center;

}
section.nav-bar nav .right-side img.logo{
    width: 400px;
    height: 200px;
}
.menu{
    width: 25px;
    height: 25px;
    background: transparent;
    border: none;
    display: flex;
    padding: 3px 0;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.menu span{
    width: 25px;
    background-color: white;
    height: 3px;
    display: block;
}

.logo{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 19px;
    width: 200px;
}


